.App {
  text-align: center;
}

.main {
  margin: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dialog-image {
  height: 250px;
  background-size: cover;
  background-position: center;
}
/*MuiPaper-root MuiDrawer-paper MuiDrawer-paperAnchorRight MuiDrawer-paperAnchorDockedRight MuiPaper-elevation0*/

.poke-drawer {
  width: 275px;
}

.drawer-text {
  text-transform: capitalize;
}

.drawer-list-item {
  border-bottom: solid 1px #a0a9b3;
  width: 100%;
  height: 100px;
}

.pokemon-name {
  text-transform: capitalize;
}


.MuiAppBar-colorPrimary {
  background-color: black;
}
